%ul
  %li
    %a{:href => "http://github.com/colindean/fillertext", :title => "gem 'fillertext'"} YinzerIpsum is a style for the <code>fillertext</code>.
  %li
    %a{:href => "https://github.com/colindean/fillertext/blob/master/lib/fillertext/styles/yinzer.rb", :title => "Yer jus' nebby."} Submit words and phrases 'n' 'at.
  %li
    %a{:href => "/api", :title => "#{request.url}yinzer?chunk={[words,sentences,bytes,characters,paragraphs]}&num={integer}"} One of them uppity jagoffs? API.
  %li
    %a{:href => "/", :title => "Yinz need more?"} Home.
